:root{
    box-sizing: border-box;
    --lightBlue:#96d6e9 ; 
    --navyBlue: #021c24;
    --yellow: #f5fd5f; 
    --red: rgb(252, 71, 71);
    --white: #F5F5F5; 
    font-family: 'Gaegu', sans-serif;
    box-sizing: border-box;

   
}
h1{
    color: var(--white);
    font-size: 52px;
}
p{color: var(--white);}
body{
    background-color: var(--navyBlue);
    position: relative;
    height: 100vh;
    width: 100vw;
    display: flex;
    justify-content: center;
    overflow: hidden;
    
   
}

.wrapper{
    display: grid;
    overflow: hidden;
    place-items: center;
    width: 50%;
    grid-template-columns: 1fr;
}


.board{
    height: 40vh;
    aspect-ratio: 1/1;
    display: grid;
    grid-template-columns: repeat(3,1fr);
    
}

.board>*{
    color: var(--white);
}

#turnIndicator{
    text-align: center;
    font-size: 32px;
}

.scoreboard{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;

}

.score{
    display: grid;
    column-gap: 10px;
    grid-template-columns: repeat(3, 1fr);

    
}

.score>*{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 5px;
    padding: 10px;
    background-color: rgb(250, 184, 184);
    border-radius: 5px;
    font-size: 16px;
}

.tie{
    background-color: var(--lightBlue);
}
.player1{
    background-color: var(--yellow);
}
.player2{
    background-color: var(--red);
}


.ins{
    border: solid var(--lightBlue) 2px;
    min-height: 124px;
    min-width: 124px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 36px;
    
}

.Menu{
display: grid;
width: 405px;
grid-template-columns: repeat(6, 1fr); 
gap: 10px;
grid-template-areas:
". . continue continue . ." 
". . reset  reset . ."
". p p p s .";

}

.resetButton{
    grid-area: reset;
}
.nextButton{
    grid-area: continue;
    visibility: hidden;
}

.labelG{
    color: var(--white);
    font-size: 22px;
    grid-area: p;
}

#gameMode{
    grid-area: s;
}