:root{
    box-sizing: border-box;
   
}

body{
    position: relative;
    height: 100vh;
    width: 100vw;
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;
}



.board{
    height: 50%;
    aspect-ratio: 1/1;
    display: grid;
    grid-template-columns: repeat(3,1fr);
    
}

.scoreboard{
    position: absolute;
    bottom: 100px;
}


.ins{
    border: solid black 2px;
    height: 100%;
    width: 100%;
}